{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo!</h1>
    <p>Escolha uma opção de registro:</p>
    <ul>
        <li><a href="{% url 'registro_simples' %}">Registro Simples</a></li>
        <li><a href="{% url 'registro_completo' %}">Registro Completo</a></li>
    </ul>
    <p>Visualizar registros existentes:</p>
    <ul>
        <li><a href="{% url 'visualizar_registros_simples' %}">Ver Registros Simples</a></li>
        <li><a href="{% url 'visualizar_registros_completos' %}">Ver Registros Completos</a></li>
        <li><a href="{% url 'preenche_formulario' %}">Preencher Formulário Automaticamente</a></li>
        <li><a href="{% url 'visualizar_mapa' %}">Mapa</a></li>
    </ul>
    </ul>
</body>
</html>
