<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registro Simples</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/#' %}">
    <script type="module" src="{% static 'js/cep.js' %}" defer></script>
</head>
<body>
    <div class="app">
        <header>
            <h1>Registro Simples</h1>
            <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
        </header>
        <main>
            <div class="container">
                <h1>Registro Simples</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <h2>Endereço</h2>
                    {{ endereco_form.as_p }}
                    <input type="button" class='btn_buscar_cep' value="Buscar CEP">
                    <button type="submit">Registrar</button>
                </form>
                <a href="{% url 'registro_completo' %}">Fazer registro completo</a>
            </div>
        </main>
    </div>
</body>
</html>